table {
    position: relative;
    top: 10vh;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

td:nth-child(4) {
    padding: 0;
}